.email_wrapper {
    width: 100%;
    height: 70px;
    position: relative;
    overflow: hidden;
    background-color: var(--second);
    border-radius: 20px;
    z-index: 10;
    display: flex;
}

.email_icon_wrapper {
    stroke: var(--third);
}

.block {
    margin: 0 auto;
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email {
    background-color: var(--third);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    transition: 0.4s all;
    color: var(--second);
    border-radius: 20px;
    text-decoration: none;
    position: absolute;
    z-index: 50;
}

.email_info {
    text-decoration: none;
    color: var(--second);
}

.email:hover {
    background-color: var(--accent);
}

.email:hover .icon {
    stroke: var(--third);
}

.icon {
    cursor: pointer;
}

.left_side {
    display: flex;
    gap: 15px;
    align-items: center;
}

.right_side {
    display: flex;
    align-items: center;
    gap: 15px;
}

.email_from {
    font-weight: 700;
    display: flex;
    gap: 10px;
}

.email_subject {
    white-space: nowrap;
    width: 45dvw;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 425px) {
    .email_subject {
        width: 50dvw;
    }
}

.is_read {
    font-weight: 400;
}
