.wrapper {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: 200;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cross {
    stroke: var(--second);
    cursor: pointer;
}

.modal {
    padding: 15px;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 0) and (max-width: 425px) {
    .modal {
        width: 90%;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .modal {
        width: 75%;
    }
}

@media (min-width: 767px) {
    .modal {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .modal {
        width: 30%;
    }
}

@media (min-width: 1500px) {
    .modal {
        width: 25%;
    }
}

@media (min-width: 1600px) {
    .modal {
        width: 20%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.emails {
    width: 100%;
    margin-top: -10px;
    margin-bottom: -10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
