.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date {
    font-weight: 700;
    font-size: 24px;
    color: var(--second);
}