.wrapper {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.caption {
    font-weight: 600;
    color: var(--second);
}

.description {
    color: var(--second);
}