@media (min-width: 0) {
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 425px) {
    .wrapper {
        width: 375px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.caption {
    font-weight: 600;
    color: var(--second);
}

.description {
    color: var(--second);
}