.wrapper {
    padding: 20px;
    width: 100%;
}

.children {
    padding-top: 20px;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.caption {
    font-size: 24px;
    font-weight: 600;
    color: var(--second);
}
