:root {
    --accent: #caacf2;
    --second: #756cbf;
    --third: rgba(255, 255, 255, 0.95);
    --gray: #dbdbdb;
    --thirth: #fff;
    --white: #000;
}

[data-theme="light"] {
    --accent: #caacf2;
    --second: #756cbf;
    --third: rgba(255, 255, 255, 0.95);
    --gray: #dbdbdb;
    --thirth: #fff;
    --white: #000;
}

[data-theme="dark"] {
    --accent: #caacf2;
    --second: #756cbf;
    --third: #202020;
    --gray: #0a0a0a;
    --thirth: #2e2e2e;
    --white: #fff;
}

body, div, button, input, p, header, svg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, serif;
}

svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}
