:root {
    --accent: #caacf2;
    --second: #756cbf;
    --third: rgba(255, 255, 255, 0.95);
    --thirth: #fff;
    --gray: #dbdbdb;
}

body[data-theme="light"] {
    --accent: #caacf2;
    --second: #756cbf;
    --third: rgba(255, 255, 255, 0.95);
    --gray: #dbdbdb;
    --thirth: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, serif;
}

svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}
