.button {
    width: 100%;
    padding: 15px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: var(--second);
    color: var(--third);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.button_loading {
    width: 100%;
    padding: 15px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: rgba(117, 108, 191, 0.5);
    color: var(--third);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.button_white {
    width: 100%;
    padding: 15px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: var(--third);
    color: var(--second);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}