.input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    color: var(--accent);
    border: 1px solid var(--gray);
    border-radius: 15px;
    font-size: 16px;
    padding-left: 15px;
    font-weight: 500;
}

.input:focus {
    outline: none;
    border: 1px solid var(--accent);
}

.error {
    font-weight: 600;
    color: red;
    text-align: center;
}
